.container {
    border: 4px solid black;
}
.container-fluid {
    border: 4px solid black;
}

.row {
    border: 4px solid red;
}
 
.col, .col-lg, .col-xl-2, .col-lg-3, .col-md-4, .col-sm-6, .col-md, .col-sm,.order-xl-0, .order-lg-1, .order-md-0, .order-sm-1, .col-6 {
    border: 4px solid green;
}



/*///////////////////      parctice work      ///////////////////*/

.topbar {
    border: none !important;
    background-color: orange;
    border: none;
}
.web-name {
    color: black;
    font-family: sans-serif;
    font-weight: 700;
    font-size: xx-large;
    border: none;
    background-color: orange;
}

.navbar {
    border: none !important;
    background-color: pink;
    display: flex;
    border: none;
    justify-content: center !important;
}

.nav li {
    list-style: none;
    color: black;
    font-family: sans-serif;
    font-weight: 700;
    border: none;
    font-size: large;
}

.middle {
    border: none;
}

.paragraph{
    background-color: white;
    border: none !important;
    color: black;
}
.side-bar {
    border: none !important;
    border: none;
    background-color: lightskyblue;
}
.side-bar ul {
    border: none;
    list-style: none;
}
.side-bar ul li {
    list-style: none;
    border: none;
    border: none;
    color: black;
}

.footer {
    background-color: orange;
    border: none !important;
}

.footer-text {
    color: black;
    font-family: sans-serif;
    font-size: larger;
    font-weight: 500;
    border: none;
}

/*///////////////////      parctice work end      ///////////////////*/
